
*.suo
*.user
/Scalejs.Application.MVVM/obj
/Scalejs.Extension/obj
/Scalejs.Module.MVVM/obj
/Scalejs.VS2010/obj
/Scalejs.VS2012/obj
/Scalejs.Application.MVVM/bin
/*/obj
/*/bin
/Scalejs.Extension/bin
/Scalejs.Module.MVVM/bin
/Scalejs.VS2010/bin
/Scalejs.VS2012/bin
/packages
/TestResults
/.nuget/nuget.exe
/Scalejs.Test.VS2012/bin
/Scalejs.Test.VS2012/obj
/Scalejs.VS2012/packages.config
/Scalejs.VS2012/packages/scalejs.0.1.12.nupkg
/Scalejs.VS2012/packages/scalejs.mvvm.0.1.2.nupkg
